//META{"name":"SquiddCordd","description":"SquiddCordd theme By ThatGeekyWeeb","author":"ThatGeekyWeeb","version":"1.2-MasterRepo","website":"https://github.com/ThatGeekyWeeb","source":"https://raw.githubusercontent.com/ThatGeekyWeeb/ThatGeekyWeeb.github.io/master/src/SquiddCordd.theme.css"}*//{}
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730214842333528134/style_part00.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730214847161041026/style_part01.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730214851900735570/style_part02.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730214854991806464/style_part03.css");
:root {
      --bg: url("https://media.discordapp.net/attachments/699685435198144553/731293853554049094/wallpaper3.png");
      /* Here you can define properties for use with Glasscord. */
      /* Windows-specific properties */
      /* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
      --glasscord-win-blur: blurbehind;
      /* Acrylic mode makes some computers pretty unresponsive when resizing/moving the window. We'll use "blurbehind" instead */
      --glasscord-win-performance-mode: true;

      /* macOS-specific properties */
      /* Vibrancy mode */
      --glasscord-macos-vibrancy: fullscreen-ui;

      /* Linux-specific properties */
      /* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
      /* It currently supports KWin only */
      --glasscord-linux-blur: true;

      /* Discord-specific properties */
      /* Custom (forced) titlebar */
      /* native (default), windows, osx, linux (framed) */
      --glasscord-titlebar: native;
      --accentcolor: 94, 129, 172;
      /* blurple - default: 114,137,218 */
      --linkcolor: 136, 192, 208;
      /* link - default: 0,176,244 */
      --server-icon-size: 40px;
      /* Size of the server icons | DEFAULT: 35px */
      --server-icon-spacing: 8px;
      /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
      --server-container-padding: 10px;
      /* Spacing to the left and right sides of server icons | DEFAULT: 10px */
      --unread-badge: #eceff499 !important;
      --unread-background: #eceff402 !important;
      --selected-badge: #5e81ac !important;
      --selected-background: #5e81ac1a !important;
      --hovered: #81a1c109 !important;
      --active: #81a1c13d !important;

      /* Filter Blur amount */
      --wallblur: 50px;
      /* Round varible for coners */
      --roundness: 25px;
      /* Makes Blacked bg transparent */
      --background-lights-out: transparent;
      --background-floating: transparent;
      --background-switcher: transparent;
}
  /* glasscord theme begin */
.theme-dark {
	--background-primary: transparent;
	--background-primary-alt: transparent;
      	--background-secondary: transparent;
      	--background-secondary-chat: transparent;
      	--background-secondary-alt: transparent;
      	--background-tertiary: transparent;
      	--background-logo: transparent;
      	--deprecated-card-bg: transparent;
      	--deprecated-store-bg: transparent;
      	--background-attachments: transparent;
      	--background-search-bar: transparent;
      	--background-switcher: transparent;
      	--background-chatbox: transparent;
      	--background-lights-out: transparent;
      	--background-pinned: transparent;
      	--background-profile-expand: transparent;
      	--background-emoji: transparent;
      	--text-lights-out: transparent;
      	--background-titlebar: transparent;
      	background-color: transparent;
      	border: 4px solid transparent;
	--alert: #000;
	--scrollbar: #000;
	--theme-trans: rgba(56, 56, 56, 0.47);
	--color-spotify: lightsteelblue;
        --status-fill: lightsteelblue;
        --theme-trans-pop: rgba(46, 52, 64, 0.71);
	--theme-trans-header: rgba(56, 56, 56, 0.67);

}
  [class*="scrollerThemed-2oenus.themedWithTrack-*"] {
      background-color: transparent;
      border: 4px solid transparent;
  }

  [class*="scroller-::-webkit-scrollbar-track-piece"] {
      background-color: transparent;
      border: 4px solid transparent;
  }

  .theme-dark {
      background-color: #20222550;
  }

  [class*="scrollerThemed-2oenus.themedWithTrack-"] {
      background-color: #20222550;
  }

  .theme-dark {
      background-color: transparent;
  }
.theme-dark .card-FDVird:before {
      background-color: #33363c90;
}

.theme-dark {
      background-color: #2f313650;
      border-color: #20222550;
}

[class*="codeRedemptionRedirect-"] {
      background-color: #2f313650;
      border-color: #20222550;
}

.theme-dark {
      background-color: transparent;
}

  [class*="pageWrapper-"] {
      background-color: transparent;
  }

  .withFrame-haYltI {
      height: 18px;
      margin-top: 0;
      padding-top: 4px;
  }

  .premiumPromo-yVfLiA {
      background-color: var(--background-secondary-chat);
      backdrop-filter: blur(var(--wallblur)) !important;
  }

  .unread-3zKkbm {
      height: 4px;
      width: 4px;
      margin-top: -2px;
      border-radius: 2px 2px 2px 2px;
  }

  .jumpToPresentBar-9P20AM {
      border-radius: 8px;
      padding-bottom: 0;
  }

  .platform-win .sidebar-2K8pFh {
      border-radius: 0;
  }

  .platform-osx .scroller-2TZvBN {
      padding-top: 32px;
      -webkit-mask: linear-gradient(#0000, #fff 32px);
  }

  .platform-osx .wrapper-1Rf91z {
      margin-top: 0;
  }

  .typeMacOS-3EmCyP {
      background-color: transparent !important;
  }

  .platform-osx .unreadMentionsIndicatorTop-gA6RCh {
      top: 32px;
  }

  .platform-osx .back-1Ess-_ {
      -webkit-app-region: no-drag;
  }

  .platform-osx .button-2PWmas {
      -webkit-app-region: no-drag;
  }

  .messagesPopoutWrap-1MQ1bW {
      background-color: var(--background-pinned);
  }

  .notice-2FJMB4 {
      background-color: var(--background-secondary) !important;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .emojiPicker-3m1S-j {
      background-color: var(--background-emoji);
  }

  .appMount-3lHmkl {
      background-color: transparent;
  }

  .app-2rEoOp {
      background-color: transparent;
  }

  .attachment-33OFj0 {
      background-color: var(--background-attachments) !important;
  }

  .header-2o-2hj {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .privateChannels-1nO12o {
      background-color: transparent;
  }

  .root-SR8cQa {
      background-color: var(--background-profile-expand);
  }

  .container-PNkimc {
      background-color: transparent;
  }

  .inset-3sAvek {
      background-color: var(--background-secondary) !important;
  }

  .container-1r6BKw.themed-ANHk51 {
      background-color: var(--background-secondary);
  }

  .wrapper-1Rf91z {
      background-color: var(--background-secondary);
  }

  .childWrapper-anI2G9 {
      background-color: var(--background-logo);
  }

  .circleIconButton-jET_ig {
      background-color: var(--background-logo);
  }

  .searchBar-3dMhjb {
      background-color: var(--background-search-bar);
  }

  .searchBar-6Kv8R2 {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .searchHeader-1l-wpR {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .channelName-1QajIf {
      background-color: transparent;
  }

  .searchResult-3pzFAB:before {
      background-image: none;
  }

  .searchResult-3pzFAB:after {
      background-image: none;
  }

  .perksModal-fSYqOq {
      background-color: transparent !important;
  }

  .ctaBar-2UsjF2 {
      background-color: var(--background-attachments) !important;
  }

  .tierBody-16Chc9 {
      background-color: var(--background-secondary-chat) !important;
  }

  .perk-2WeBWW {
      background-color: var(--background-attachments) !important;
  }

  .content-yTz4x3:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .tabBody-3YRQ8W:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .container-19hC9u:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .container-xm7Ad0:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
      background-color: var(--background-search-bar);
  }

  .scroller-1JbKMe {
      background-color: transparent;
  }

  .scroller-2TZvBN {
      background-color: transparent;
  }

  .quickswitcher-3JagVE {
      background-color: var(--background-switcher);
  }

  .wrapper-2aW0bm {
      background-color: var(--background-primary-alt);
  }

  .searchResultMessage-2VxO12.hit-NLlWXA {
      background-color: var(--background-primary-alt);
  }

  .scroller-zPkAnE {
      background-color: transparent;
  }

  .embedFull-2tM8-- {
      background-color: var(--background-attachments);
  }

  .messagesWrapper-3lZDfY {
      margin-bottom: 8px;
  }

  .panels-j1Uci_ {
      background-color: transparent;
  }

  .titleBar-AC4pGV {
      background-color: var(--background-titlebar);
  }

  .uploadArea-3QgLtW {
      background-color: var(--background-lights-out);
  }

  .backdropWithLayer-3_uhz4 {
      background-color: var(--background-lights-out) !important;
  }

  .backdrop-1wrmKB {
      background-color: var(--background-lights-out) !important;
  }

  .downloadLink-1ywL9o {
      color: var(--text-lights-out) !important;
  }

  .bg-AYqtMd {
      -webkit-mask-image: linear-gradient(#000f, #0000) !important;
  }

  .scrollableContainer-2NUZem {
      background-color: var(--background-chatbox);
  }
  /* glasscord end */

  .theme-dark {
      --background-primary: transparent;
      --background-primary-alt: #2e3440f0;
      --background-secondary: #2e344050;
      --background-secondary-chat: #2e3440a0;
      --background-secondary-alt: #2e344000;
      --background-tertiary: #2e344070;
      --background-logo: #2e3440a0;
      --deprecated-card-bg: #2e34404c;
      --deprecated-store-bg: #2e344000;
      --background-attachments: #2e344040;
      --background-search-bar: #2e3440a0;
      --background-switcher: #2e3440ff;
      --background-chatbox: #2e344040;
      --background-lights-out: #000;
      --background-pinned: #2e3440ff;
      --background-profile-expand: #2e3440ff;
      --background-emoji: rgb(46, 52, 64);
      --text-lights-out: #eceff4;
      --background-titlebar: #2e344050;
  }

  .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
      background-color: transparent;
      border: 4px solid transparent;
  }

  .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
  }

  .theme-dark .container-1D34oG {
      background-color: transparent;
  }

  .theme-dark .card-FDVird:before {
      background-color: #33363c90;
  }

  .theme-dark .codeRedemptionRedirect-1wVR4b {
      background-color: #2e344050;
      border-color: #20222550;
  }

  .theme-dark .pageWrapper-1PgVDX {
      background-color: transparent;
  }

.theme-light {
      --background-primary: transparent;
      --background-primary-alt: #ffffffff;
      --background-secondary: #f2f3f550;
      --background-secondary-chat: #f2f3f5a0;
      --background-secondary-alt: #ebedef00;
      --background-tertiary: #e3e5e860;
      --background-logo: #f2f3f5a0;
      --deprecated-card-bg: #f8f9f94c;
      --deprecated-store-bg: #f8f9f900;
      --background-attachments: #f6f6f640;
      --background-search-bar: #e3e5e8a0;
      --background-switcher: #f2f3f5ff;
      --background-chatbox: #e3e5e850;
      --background-lights-out: #fff;
      --background-pinned: #f2f3f5ff;
      --background-profile-expand: #f2f3f5ff;
      --background-emoji: #f2f3f5ff;
      --text-lights-out: #202020;
      --background-titlebar: #f2f3f550;
      --interactive-muted: #95999d;
      --alert: #f5b3b3;
      --scrollbar: #fff;
      --spotify-color: lightpink !important;
      --status-fill: lightpink;
      --theme-trans: rgba(255, 255, 255, 0.3);
      --theme-trans-pop: rgba(242, 243, 245, 0.85);
      --theme-trans-header: rgba(255, 255, 255, 0.67);
}
.members-1998pB, .members-1998pB>div {
    background-color: transparent !important;
}

.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
      background-color: transparent;
      border: 4px solid transparent;
}

.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
}

.theme-light .container-1D34oG {
      background-color: transparent;
}

.theme-light .card-FDVird:before {
      background-color: #f6f6f790;
}

.theme-light .codeRedemptionRedirect-1wVR4b {
      background-color: #f6f6f750;
      border-color: #dcddde50;
}

.theme-light .pageWrapper-1PgVDX {
      background-color: transparent;
}

.withFrame-haYltI {
      height: 18px;
      margin-top: 0;
      padding-top: 4px;
}

.premiumPromo-yVfLiA {
      background-color: var(--background-secondary-chat);
      backdrop-filter: blur(var(--wallblur)) !important;
}

  .unread-3zKkbm {
      height: 4px;
      width: 4px;
      margin-top: -2px;
      border-radius: 2px 2px 2px 2px;
  }

  .jumpToPresentBar-9P20AM {
      border-radius: 8px;
      padding-bottom: 0;
  }

  .platform-win .sidebar-2K8pFh {
      border-radius: 0;
  }

  .platform-osx .scroller-2TZvBN {
      padding-top: 32px;
      -webkit-mask: linear-gradient(#0000, #fff 32px);
  }

  .platform-osx .wrapper-1Rf91z {
      margin-top: 0;
  }

  .typeMacOS-3EmCyP {
      background-color: transparent !important;
  }

  .platform-osx .unreadMentionsIndicatorTop-gA6RCh {
      top: 32px;
  }

  .platform-osx .back-1Ess-_ {
      -webkit-app-region: no-drag;
  }

  .platform-osx .button-2PWmas {
      -webkit-app-region: no-drag;
  }

  .messagesPopoutWrap-1MQ1bW {
      background-color: var(--background-pinned);
  }

  .notice-2FJMB4 {
      background-color: var(--background-secondary) !important;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .emojiPicker-3m1S-j {
      background-color: var(--background-emoji);
  }

  .appMount-3lHmkl {
      background-color: transparent;
  }

  .app-2rEoOp {
      background-color: transparent;
  }

  .attachment-33OFj0 {
      background-color: var(--background-attachments) !important;
  }

  .privateChannels-1nO12o {
      background-color: transparent;
  }

  .root-SR8cQa {
      background-color: var(--background-profile-expand);
  }

  .container-PNkimc {
      background-color: transparent;
  }

  .inset-3sAvek {
      background-color: var(--background-secondary) !important;
  }

  .container-1r6BKw.themed-ANHk51 {
      background-color: var(--background-secondary);
  }

  .wrapper-1Rf91z {
      background-color: var(--background-secondary);
  }

  .childWrapper-anI2G9 {
      background-color: var(--background-logo);
  }

  .circleIconButton-jET_ig {
      background-color: var(--background-logo);
  }

  .searchBar-3dMhjb {
      background-color: var(--background-search-bar);
  }

  .searchBar-6Kv8R2 {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .searchHeader-1l-wpR {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .channelName-1QajIf {
      background-color: transparent;
  }

  .searchResult-3pzFAB:before {
      background-image: none;
  }

  .searchResult-3pzFAB:after {
      background-image: none;
  }

  .perksModal-fSYqOq {
      background-color: transparent !important;
  }

  .ctaBar-2UsjF2 {
      background-color: var(--background-attachments) !important;
  }

  .tierBody-16Chc9 {
      background-color: var(--background-secondary-chat) !important;
  }

  .perk-2WeBWW {
      background-color: var(--background-attachments) !important;
  }

  .content-yTz4x3:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .tabBody-3YRQ8W:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .container-19hC9u:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .container-xm7Ad0:before {
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
      background-color: var(--background-search-bar);
  }

  .scroller-1JbKMe {
      background-color: transparent;
  }

  .scroller-2TZvBN {
      background-color: transparent;
  }

  .quickswitcher-3JagVE {
      background-color: var(--background-switcher);
  }

  .wrapper-2aW0bm {
      background-color: var(--background-primary-alt);
  }

  .searchResultMessage-2VxO12.hit-NLlWXA {
      background-color: var(--background-primary-alt);
  }

  .scroller-zPkAnE {
      background-color: transparent;
  }

  .embedFull-2tM8-- {
      background-color: var(--background-attachments);
  }

  .messagesWrapper-3lZDfY {
      margin-bottom: 8px;
  }

  .panels-j1Uci_ {
      background-color: transparent;
  }

  .titleBar-AC4pGV {
      background-color: var(--background-titlebar);
  }

  .uploadArea-3QgLtW {
      background-color: var(--background-lights-out);
  }

  .backdropWithLayer-3_uhz4 {
      background-color: var(--background-lights-out) !important;
  }

  .backdrop-1wrmKB {
      background-color: var(--background-lights-out) !important;
  }

  .downloadLink-1ywL9o {
      color: var(--text-lights-out) !important;
  }

  .bg-AYqtMd {
      -webkit-mask-image: linear-gradient(#000f, #0000) !important;
  }

  .scrollableContainer-2NUZem {
      background-color: var(--background-chatbox);
  }
  body {
      border-radius: 250px !important;
      overflow: hidden;
  }

  .platform-linux {
      background: none !important;
  }

  .scroller-2TZvBN {
      background: var(--theme-trans) !important;
      border-radius: 25px 0px 0px 25px;
  }

  .da-sidebar {
      background: rgba(10, 10, 10, 0.5);
      border-radius: var(--roundness);
      box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
      margin-bottom: 18px;
      margin-top: 10px;
  }

  .sidebar-CFHs9e {
      border-radius: 25px;
      padding-right: 20px;
  }

  .webkit-HjD9Er {
      background: var(--theme-trans);
      border-radius: 25px;
      box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
  }

  .da-chat {
      background: rgba(10, 10, 10, 0.5);
      border-radius: 25px;
      margin-top: 10px;
      margin-bottom: 18px;
      margin-left: 0px;
      margin-right: 0px;
  }

  .membersWrap-2h-GB4,
  .da-members {
      box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
  }

  [class*="chat"] {
      border-radius: var(--roundness);
      box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
  }

  .da-wrapper {
      border-radius: var(--roundness);
      box-shadow: 38px 20px 46px -23px transparent !important;
  }

  [class*="sidebar"] {
      margin-top: 10px;
      margin-bottom: 18px;
      margin-right: 10px;
      margin-left: 5px;
  }
  [class*="listContent-"] {
      margin-top: 10px;
      margin-bottom: 18px;
      margin-right: 2px;
  }
  [class="full-motion"] {
      margin-right: 10px
  }
  [class*="base-*"] {
      margin-left: 2px !important;
      margin-right: 10px !important;
  }
  .da-base {
      margin-left: 2px !important;
      margin-right: 10px !important;
  }
  .da-scroller {
      margin-top: 10px;
      margin-bottom: 18px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: var(--roundness);
  }
  [class*="guilds-"] {
      margin-left: 5px;
      margin-top: 10px;
      margin-right: 5px;
      margin-bottom: 10px;
  }
  .da-members {
      margin: 10px;
  }
  .da-content {
      border-radius: 0 0 0 0;
  }
  .da-mask {
      border-radius: 0 0 0 0;
  }
  .da-header {
      border-radius: 0 0 0 0;
  }
  .da-roleColor {
      border-radius: 0 0 0 0;
  }
  [class*="username-"] {
      border-radius: 0 0 0 0;
  }
  .da-layout {
      border-radius: 0 0 0 0;
  }
  .da-member {
      border-radius: 0 0 0 0;
  }
  .da-selected {
      border-radius: var(--roundness);
  }
  .da-folderIconWrapper {
      border-radius: var(--roundness);
  }
  [class*="selected"] {
      border-radius: var(--roundness);
  }
  .da-anchor {
      border-radius: var(--roundness);
  }
  [class*="-image"] {
      border-radius: var(--roundness);
  }

  [class*="members-"] {
      border-radius: var(--roundness);
  }
  [class*="da-list"] {
      border-radius: var(--roundness);
  }
  [class*="selected-"] {
      border-radius: 0;
  }
  [class^="topSectionNormal"],
  .da-root,
  [class^="body"] {
      background-color: transparent;
  }
  .da-flex {
      backdrop-filter: blur(var(--wallblur)) !important;
      border-radius: var(--roundness);
  }
  [class*="userPopout-"],
  [class^="userPopout"],
  .da-userPopout,
  .da-didRender {
      border-radius: var(--roundness);
      background-color: transparent !important;
      backdrop-filter: blur(var(--wallblur)) !important;
  }
  .da-scrollbarGhostHairline,
  .da-scrollbar {
      border-radius: var(--roundness);
  }
  [class="headerNormal-T_seeN"],
  [class*="header-"],
  [class*="size16-"],
  [class*="da-size16"],
  .da-header,
  .da-headerNormal,
  .da-body {
      background: transparent !important;
  }
  [class*="body-"] {
      background: var(--theme-trans) !important;
  }
  [class*="thin-"] {
      background: var(--theme-trans) !important;
  }
  [class*="fade-"] {
      background: var(--theme-trans) !important;
  }
  [class*="footer-"],
  .da-footer {
      background: var(--theme-trans) !important;
  }
  [class*="backdrop-"] {
      background-color: var(--theme-trans) !important;
  }
  .da-card,
  .da-flex {
      border-radius: var(--roundness);
  }
  [class*="userInfoViewingButton-2-"],
  .da-userInfoViewingButton,
  [class*="button-"],
  .da-button,
  [class*="lookFilled-"],
  [class*="colorBrand-"],
  [class*="sizeSmall-"],
  [class*="grow-"],
  .da-grow {
      border-radius: var(--roundness)
  }
  [class*="colorStandard-"],
  [class*="size14-"],
  [class*="title-"],
  .da-h5,
  .da-title,
  [class*="marginBottom4-"],
  .da-marginBottom4,
  [class*="faded-"],
  .da-faded {
      margin-top: 5px;
  }
  [class*="modalRoot-"] .da-modalRoot,
  [class*="root-"],
  .da-root,
  [class*="small-"],
  [class*="fullscreenOnMobile-"],
  .da-fullscreenOnMobile {
      background-color: transparent !important;
  }
  [class*="backdropWithLayer-3_"] {
      background-color: transparent !important;
  }
  [class*="focusLock-"],
  .da-focusLock {
      backdrop-filter: blur(var(--wallblur)) !important;
  }
  [class*="element.style"] {
      background-color: transparent !important;
      backdrop-filter: blur(var(--wallblur)) !important;
      border-radius: var(--roundness);
  }
  [class*="layer-"],
  .da-layer {
      background-color: transparent !important;
  }
  [class*="container-"] .da-container,
  [class*="themed-"],
  .da-themed {
      border-radius: var(--roundness)
  }
  [class*="container-"] .da-container,
  [class*="themed-"],
  .da-themed {
      border-radius: var(--roundness);
  }
  [class*="channel-"],
  .da-channel,
  [class*="container-"],
  .da-container,
  [class*="selected-"],
  .da-selected {
      border-radius: var(--roundness);
  }
  [class*="layout-"],
  [class*="input-"],
  [class*="result-"],
  .da-result,
  [class*="searchBar"],
  [class*="ui-"],
  [class*="selected"] {
      border-radius: var(--roundness);
  }
  [class*="quickswitcher-"] {
      background-color: transparent;
      backdrop-filter: blur(var(--wallblur)) !important;
      border-radius: var(--roundness);
  }
  #bd-settings-sidebar .ui-tab-bar-item.selected {
      border-radius: var(--roundness);
  }
  #bd-settings-sidebar .ui-tab-bar-item:hover {
      border-radius: var(--roundness);
  }
  #bd-settings-sidebar .ui-tab-bar-item:active {
      border-radius: var(--roundness);
  }
  [class*="side-"],
  [class*="themed-"]:hover,
  [class*="topPill-"],
  [class*="themed-"]:hover {
      border-radius: var(--roundness);
  }
  [class*="side-"],
  [class*="themed-"]:active,
  [class*="topPill-"],
  [class*="themed-"]:active {
      border-radius: var(--roundness);
  }
  [class*="side-"],
  [class*="themed-"],
  [class*="topPill-"] {
      border-radius: var(--roundness);
  }
  [class*="menu-"] {
      backdrop-filter: blur(var(--wallblur)) !important;
  }
  [class*="emojiPicker-"] {
      backdrop-filter: blur(var(--wallblur)) !important;
  }
div[class*=base-] {
      margin-left: 10px !important;
}
[class*="search"] {
      border-radius: var(--roundness);
}
.da-selected {
      border-radius: 10px !important;
}
[class*="wrapper"] {
      border-radius: var(--roundness);
      box-shadow: 38px 20px 46px -23px transparent !important;
      background: transparent;
}
[class*="backdrop-"] {
      background-color: transparent !important;
      backdrop-filter: blur(10px);
}
.inner-1ilYF7 {
    backdrop-filter: blur(10px) !important;
}
.imageWrapper-2p5ogY img {
    position: absolute;
    border-radius: var(--roundness);
}
[class*="backdropWithLayer-3_"] {
	background-color: transparent !important;
	backdrop-filter: blur(10px);
}
.listContent-2_qb-y {
	border-radius: var(--roundness);
}
.sidebar-2K8pFh {
	border-radius: var(--roundness);
}
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: var(--background-modifier-selected);
    border-radius: var(--roundness);
}
.wrapper-1ucjTd:hover .content-3at_AU {
    background-color: var(--background-modifier-hover);
    border-radius: var(--roundness);
}
.topSectionPlaying-1J5E4n {
    background: transparent !important;
}
.topSectionSpotify-1lI0-P {
    background: transparent !important;
}
.unicodeShortcut-15J8Ck {
    background: var(--theme-trans) !important;
    backdrop-filter: blur(var(--wallblur));
}
.contentWrapper-SvZHNd {
    border-radius: var(--roundness);
}
.navButtonActive-1MkytQ {
    background-color: var(--theme-trans);
    backdrop-filter: blur(var(--wallblur));
}
.item-2hkk8m {
    background-color: var(--alert);
}
.theme-dark .autocomplete-1vrmpx {
    background: var(--theme-trans);
    backdrop-filter: blur(var(--wallblur));
}
.theme-dark .selectorSelected-1_M1WV {
    background: var(--theme-trans);
}
.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881 {
    color: var(--text-normal);
}
.customStatus-1bh2V9 {
    color: var(--text-normal);
}
.noArrow-2foL9g.noShadow-3pu20z.popout-2iWAc-.popoutTopLeft-3B0mFf.arrowAlignmentTop-1yftWI {
  backdrop-filter: blur(var(--wallblur))
}
[aria-label*="Online"] mask + rect,
[aria-label*="Online"] foreignObject + rect {
    fill: var(--status-fill);
}
[aria-label*="Idle"] mask + rect,
[aria-label*="Idle"] foreignObject + rect {
    fill: var(--status-fill);
}
[aria-label*="Do Not Disturb"] mask + rect,
[aria-label*="Do Not Disturb"] foreignObject + rect {
    fill: var(--status-fill);
}
.layerContainer-yqaFcK [class*="tooltip-"] {
  background-color: transparent !important;
  backdrop-filter: blur(var(--wallblur)) !important;
  color: var(--text-normal) !important;
  border-radius: 25px;
}
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.root-SR8cQa * {
    color: var(--text-normal) !important;
}
div#popout_69 * {
  color: var(--text-normal) !important;
}
.powercord-spotify .spotify-buttons button {
    color: lightpink !important;
}
.attachButtonPlay-3iJ0mf {
    color: lightpink;
}
.userPopout-3XzG_A * {
    color: var(--text-normal);
}
h3.headerTextNormal-2mGWX3.headerText-1HLrL7.marginBottom8-AtZOdT.base-1x0h_U.size12-3cLvbJ {
  color: var(--text-normal) !important;
}
[aria-label*="Streaming"] mask + rect,
[aria-label*="Streaming"] foreignObject + rect {
    fill: var(--status-fill);
}
[aria-label*="Offline"] mask + rect,
[aria-label*="Offline"] foreignObject + rect {
    fill: var(--status-fill);
}
.inner-1ilYF7 {
    backdrop-filter: blur(10px) !important;
    background: var(--theme-trans);
    border-radius: var(--roundness);
}
[class*="popouts-"] {
	background: var(--theme-trans);
	border-radius: var(--roundness);
}
.noArrow-2foL9g.noShadow-3pu20z.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI {
	border-radius: var(--roundness);
	backdrop-filter: blur(10px) !important;
  background: var(--theme-trans-pop);
}
.webkit-HjD9Er {
    background: transparent;
}
.panels-j1Uci_ {
    background-color: var(--theme-trans);
}
section.title-3qD0b-.container-1r6BKw.themed-ANHk51 {
    margin-bottom: 5px;
    margin-top: 10px;
    background: var(--theme-trans);
    backdrop-filter: blur(10px);
    width: 99.5%;
}
[class*="members-"] {
    margin-right: 10px;
}
div#members-736609436134801509 {
    border-radius: 25px;
    margin-bottom: 10px;
}
main.chatContent-a9vAAp {
    margin-bottom: 10px;
}
div#members-736609436134801509 {
    border-radius: 25px;
    margin-bottom: 10px;
}
main.chatContent-a9vAAp {
    margin-bottom: 10px;
}
header.header-2o-2hj {
	background: var(--theme-trans);
}
.scroller-2TZvBN {
	background: transparent !important;
}
.container-2Rl01u.clickable-2ap7je {
    background: var(--theme-trans);
    border-radius: 25px 25px 0 0;
}
nav.sidebar-CFHs9e * {
  color: var(--text-normal) !important;
}
.body-3ND3kc {
    border-radius: 25px;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
    border-radius: 5px;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
    border-radius: 5px;
}
.membersWrap-2h-GB4, .da-members {
    box-shadow: none;
    margin: 10px;
    border-radius: 25px;
    margin-top: 0;
}
main.chatContent-a9vAAp {
    box-shadow: none;
}
[class*="guildSection-"] {
    background-color: var(--theme-trans);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}
[class*="emojiSection-"] {
    backdrop-filter: blur(10px);
    background: var(--theme-trans);
    border-radius: 25px;
    margin-bottom: 10px;
}
.container-ZRw2kD {
    background: transparent;
}
code {
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    font-size: 14px;
    line-height: 16px;
    border-left: dashed;
    border-width: thin !important;
    border-right: dashed;
    background: var(--theme-trans);
}
.activityUserPopout-2yItg2.activity-11LB_k {
    background: var(--theme-trans);
}
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.headerTop-3C2Zn0 {
    background: var(--theme-trans);
}
.bodyNormal-2D39hT.body-ZAhrcj.flex-1O1GKY.alignCenter-1dQNNs {
    background: transparent !important;
}
.barInner-3NDaY_ {
    background: var(--status-fill);
}
.headerFill-adLl4x {
    background-color: var(--theme-trans);
    border-radius: 25px;
}
.body-3ND3kc {
    margin-top: 10px;
    border-radius: 25px;
}
.infoScroller-3EYYns.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    border-radius: 25px;
}
[class*="topSection"] {
    border-radius: 25px;
}
.inner-1ilYF7 {
    background: transparent;
}
img[alt] {
    border-radius: 100px;
}
.activity-1ythUs {
    background: var(--theme-trans);
    border-radius:  0 0 25px 25px;
    backdrop-filter: blur(10px);
    margin-top: 10px;
}
.tabBarContainer-1s1u-z {
    background: var(--theme-trans);
    border-radius: 0 0 25px 25px;
    border-top: none;
    backdrop-filter: blur(10px);
}
[class*="topSection"] {
    background: var(--theme-trans);
    backdrop-filter: blur(10px);
    border-radius: 25px
}
header.header-QKLPzZ {
    border-radius: 25px 25px 0 0;
    background: var(--theme-trans-header) !important;
    backdrop-filter: blur(10px);
}
[class*="topSectionNormal"] .activity-1ythUs {
    background: var(--theme-trans-header);
    border-radius: 0 0 25px 25px;
    backdrop-filter: blur(10px);
    margin-top: 0px;
}
[class*="topSectionPlaying"] .header-QKLPzZ {
    border-radius: 25px;
}
[class*="topSectionPlaying"] .tabBarContainer-1s1u-z {
    background: var(--theme-trans);
    border-radius: 25px;
    border-top: none;
    backdrop-filter: blur(10px);
    margin-top: 10px;
}
[class*="topSectionPlaying"] header.header-QKLPzZ {
    border-radius: 25px;
    background: var(--theme-trans-header) !important;
    backdrop-filter: blur(10px);
}
[class*="topSectionSpotify"] .header-QKLPzZ {
    border-radius: 25px;
}
[class*="topSectionSpotify"] .tabBarContainer-1s1u-z {
    background: var(--theme-trans);
    border-radius: 25px;
    border-top: none;
    backdrop-filter: blur(10px);
    margin-top: 10px;
}
[class*="topSectionSpotify"] header.header-QKLPzZ {
    border-radius: 25px;
    background: var(--theme-trans-header) !important;
    backdrop-filter: blur(10px);
}
.activityProfile-2bJRaP.activity-1ythUs {
    border-radius: 25px;
    background: var(--theme-trans) !important;
    backdrop-filter: blur(10px);
}
.bodyAlignCenter-1KzvJk.body-ZAhrcj.flex-1O1GKY.alignCenter-1dQNNs {
    background: transparent !important;
}
.container-1ov-mD img {
    border-radius: 10px;
}
img.emoji {
    border-radius: 0px;
}
.wrapper-2K4Z3k img {
    border-radius: 10px;
}
.wrapperPaused-19pWuK.wrapper-2TxpI8 {
    border-radius: 10px;
}
img[alt*=":"] {
    border-radius: unset;
}

